<%- include("partials/header.ejs") %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>About Us!</h1>
			<p>
				Yelpcamp is a campground rating app, where users can create their own campgrounds, view and comment on others' campgrounds.
It uses the following technologies : Node.js, Express.js, Passport.js, jQuery and MongoDB.
			</p>
			<br><br>
			<p>
				This project was created by Kunal Maan and Dyuti Mangal.
			</p>
		</div>

	</header>


	
<a href="/">Back</a>

</div>

<%- include("partials/footer.ejs") %>